@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

.btn {
    width: 15rem;
    background: white;
    color: #b83d5e;
    padding: 1rem;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #b83d5e;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.home .navbar .logo {
    color: white;
    font-size: 25px;
}

.navbar {
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .navbar-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navbar .navbar-items ul li {
    margin: 0 1rem;
}

.navbar .navbar-items ul li a {
    text-decoration: none;
    color: white;
}

.home {
    background-image: linear-gradient(45deg, #b83d5e, transparent, transparent), url("mikkel-bech-yjAFnkLtKY0-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

.home .container {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.home .container h1 {
    font-size: 50px;
    margin-bottom: 1rem;
}

.home .container p {
    font-size: 20px;
}

.items {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
}

.items ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.items ul li {
    margin: 1rem .5rem;
}

.items ul li a {
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.navbar .navbar-items ul li a:hover {
    color: #b83d5e;
    text-decoration: underline;
}

.items ul li a:hover {
    background: #b83d5e;
    color: white;
}

.btn:hover {
    background-color: #b83d5e;
    color: white;
}